extends ../layouts/main

block variables
  - var title = 'Главная страница'
  - var pageClass = ''

block content
  .section.section--first
    .container
      .main-slider
        .main-slider__slider.js-main-slider
          .main-slider__slider-item
            img(src="https://images.unsplash.com/photo-1501430654243-c934cec2e1c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80", alt="")
          .main-slider__slider-item
            img(src="https://images.unsplash.com/photo-1499373665234-bb49001801eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80", alt="")
        .main-slider__actions
          .main-slider__nav.main-slider__nav--prev
            i.fas.fa-chevron-left
          .main-slider__nav.main-slider__nav--next
            i.fas.fa-chevron-right
        .main-slider__box
          p Обеспечение агропромышленного комплекса семенами, кормовыми добавками, комбинированным кормом, зерном, минеральными удобрениями

  .section.section--title.section--grey
    .container
      h2.title Продукция
      span.anchor#products

  .section.section--grey
    .container
      .products.white-wrap
        .products__layout
          .products__box.products__box--left
            nav.products__nav.js-products-nav
              .products__nav-item.isSelected(data-id="1")
                span.layout
                img.img(src="https://abekker.ru/uploads/content/content_kak-pravilno-sajat-semena.jpeg")
                p.text семена
              .products__nav-item(data-id="2")
                span.layout
                img.img(src="https://abekker.ru/uploads/content/content_kak-pravilno-sajat-semena.jpeg")
                p.text кукуруза
              .products__nav-item(data-id="3")
                span.layout
                img.img(src="https://abekker.ru/uploads/content/content_kak-pravilno-sajat-semena.jpeg")
                p.text картофель
              .products__nav-item(data-id="4")
                span.layout
                img.img(src="https://abekker.ru/uploads/content/content_kak-pravilno-sajat-semena.jpeg")
                p.text травы
          .products__box.products__box--right
            .products__content
              .products__content-body.js-products-content
                .products__content-item(data-id="1")
                  <table class="products__table">
                    <thead>
                      <tr>
                        <td>№</td>
                        <td>Наименование семян</td>
                        <td>Сорт</td>
                        <td>Описание</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td colspan="4" class="top">Семена зерновых культур</td>
                      </tr>
                      <tr>
                        <td colspan="4" class="subtop">Пшеница</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Пшеница яровая</td>
                        <td>Сударыня / Злата / Дарья</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="4" class="subtop">Ячмень</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Ячмень яровой</td>
                        <td>Владимир / Гонор / Каль Кюль</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="4" class="subtop">Овес</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Овес яровой</td>
                        <td>Яков / Лев / Контур / Привет</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="4" class="subtop">Зерносмесь</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Зерносмесь</td>
                        <td>горох+овес / вика+овес</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="4" class="top">Семена кукурузы</td>
                      </tr>
                      <tr>
                        <td colspan="4" class="subtop">Венгерские семена гибридной кукурузы</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Кукуруза</td>
                        <td>тк-175 / Анжела / Машук-180 СВ / тк-178 / тк-202 / Галина / Шаролта</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                .products__content-item.hidden(data-id="2")
                  <table class="products__table">
                    <thead>
                      <tr>
                        <td>№</td>
                        <td>Наименование семян</td>
                        <td>Сорт</td>
                        <td>Описание</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td colspan="4" class="top">Семена зерновых культур</td>
                      </tr>
                      <tr>
                        <td colspan="4" class="subtop">Пшеница</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Пшеница яровая</td>
                        <td>Сударыня / Злата / Дарья</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="4" class="subtop">Ячмень</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Ячмень яровой</td>
                        <td>Владимир / Гонор / Каль Кюль</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="4" class="subtop">Овес</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Овес яровой</td>
                        <td>Яков / Лев / Контур / Привет</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="4" class="subtop">Зерносмесь</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Зерносмесь</td>
                        <td>горох+овес / вика+овес</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                .products__content-item.hidden(data-id="3")
                  p.error Извините, данный раздел находится в стадии заполнения информацией
                .products__content-item.hidden(data-id="4")
                  p.error Извините, данный раздел находится в стадии заполнения информацией
              .products__content-actions
                button.btn.btn--accent.js-modal(type="button" data-modal-type="write") сделать заявку
                button.btn.btn--accent-2.js-modal(type="button" data-modal-type="callback") заказать звонок
  .section.section--title
    .container
      h2.title Спецпредложения
      span.anchor#special

  .section
    .container
      .special-offers
        .special-offers__slider-wrap
          .special-offers__slider.js-special-offers-slider
            .special-offers__slider-item
              .e-img
                img(src="https://abekker.ru/uploads/content/content_kak-pravilno-sajat-semena.jpeg")
              .e-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet aperiam veniam repellendus autem, assumenda rem.
              button.btn.btn--accent.js-modal(type="button" data-modal-type="write") сделать заявку
            .special-offers__slider-item
              .e-img
                img(src="https://abekker.ru/uploads/content/content_kak-pravilno-sajat-semena.jpeg")
              .e-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet aperiam veniam repellendus autem, assumenda rem.
              button.btn.btn--accent.js-modal(type="button" data-modal-type="write") сделать заявку
            .special-offers__slider-item
              .e-img
                img(src="https://abekker.ru/uploads/content/content_kak-pravilno-sajat-semena.jpeg")
              .e-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet aperiam veniam repellendus autem, assumenda rem.
              button.btn.btn--accent.js-modal(type="button" data-modal-type="write") сделать заявку
            .special-offers__slider-item
              .e-img
                img(src="https://abekker.ru/uploads/content/content_kak-pravilno-sajat-semena.jpeg")
              .e-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet aperiam veniam repellendus autem, assumenda rem.
              button.btn.btn--accent.js-modal(type="button" data-modal-type="write") сделать заявку

          .special-offers__actions
            .special-offers__nav.special-offers__nav--prev
              i.fas.fa-chevron-left
            .special-offers__nav.special-offers__nav--next
              i.fas.fa-chevron-right

  .section.section--title.section--grey
    .container
      h2.title О компании
      span.anchor#about

  .section.section--grey
    .container
      .about.white-wrap
        .box-wrap
          .about__text У нас Вы можете приобрести семена оптом по лучшим ценам. Мы обеспечим ваше хозяйство высококачественным семенным материалом любой разновидности. Все семена имеют необходимые документы и сертификаты. Так же поможем Вам приобрести фуражное зерно, грубые и сочные корма для животных.
          .about__text Наши профессионалы работают для Вас! Мы всегда готовы оказать помощь в любом вопросе! Приобретайте у нас самые лучшие семена, пользуйтесь услугами наших водителей-профессионалов и вы не пожалеете!
        .about__advantages.box-wrap
          .about__advantages-item
            .e-icon
              i.fas.fa-dollar-sign
            .e-text Обоснованная ценовая политика
          .about__advantages-item
            .e-icon
              i.fas.fa-users
            .e-text Индивидуальный подход к каждому заказчику
          .about__advantages-item
            .e-icon
              i.fas.fa-user-shield
            .e-text Качество оцененное по достоинству

  .section.section--title
    .container
      h2.title Реквизиты
      span.anchor#requisites

  .section
    .container
      .requisites.white-wrap
        .box-wrap
          h3.requisites__title Общество с ограниченной ответственностью «СМБ Групп»
          .requisites__block
            .row
              .col Наименование полное
              .col Общество с ограниченной ответственностью «СМБ Групп»
            .row
              .col Наименование сокращенное
              .col ООО «СМБ Групп»
            .row
              .col Директор
              .col Молтасов Иван Валерьевич (действующий на основании Устава)
            .row
              .col Юридический адрес
              .col 215010, Смоленская область, г. Гагарин, ул. Мичурина д. 7, пом. 14
            .row
              .col Почтовый адрес
              .col 215010, Смоленская область, г. Гагарин, ул. Мичурина д. 7, пом. 14
            .row
              .col Телефон
              .col
                a.link(href="tel:+79269409939") +7 (926) 940-99-39
            .row
              .col Факс
              .col +7 (926) 940-99-39
            .row
              .col E-mail
              .col
                a.link(href="mailto:Smb_67@mail.ru") Smb_67@mail.ru
            .row
              .col ИНН
              .col 6722033969
            .row
              .col КПП
              .col 672201001
            .row
              .col ОГРН
              .col 1196733006018

          h3.requisites__title Банковские реквизиты
          .requisites__block
            .row
              .col Расчетный счет
              .col 40702810110000511485
            .row
              .col Корреспондентский счет
              .col 30101810145250000974
            .row
              .col Банк
              .col АО "ТИНЬКОФФ БАНК"
            .row
              .col БИК
              .col 044525974

  .section.section--title.section--grey
    .container
      h2.title Партнеры
      span.anchor#partners

  .section.section--grey
    .container
      .partners.white-wrap
        h4.partners__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae possimus, architecto eaque nulla doloremque repellat, ipsa magni accusantium perferendis modi et in! Maxime quas optio voluptates dolores praesentium dignissimos temporibus?
        .partners__slider-wrap
          .partners__slider.js-partners-slider
            a.partners__slider-item(href="#")
              img(src="https://logomaster.com.ua/logo/logo_agrilab0.gif")
            a.partners__slider-item(href="#")
              img(src="https://logomaster.com.ua/logo/logo_agrilab0.gif")
            a.partners__slider-item(href="#")
              img(src="https://logomaster.com.ua/logo/logo_agrilab0.gif")
            a.partners__slider-item(href="#")
              img(src="https://logomaster.com.ua/logo/logo_agrilab0.gif")
            a.partners__slider-item(href="#")
              img(src="https://logomaster.com.ua/logo/logo_agrilab0.gif")
            a.partners__slider-item(href="#")
              img(src="https://logomaster.com.ua/logo/logo_agrilab0.gif")
            a.partners__slider-item(href="#")
              img(src="https://logomaster.com.ua/logo/logo_agrilab0.gif")

  .section.section--title
    .container
      h2.title Контакты
      span.anchor#contacts

  .section
    .container
      .contacts.white-wrap
        .contacts__layout
          .contacts__map
            #map
          .contacts__descr
            .contacts__item
              h5.title Наш адрес
              p.text 215010, Смоленская область, г. Гагарин, ул. Мичурина д. 7, пом. 14
            .contacts__item
              h5.title Контакты
              p.text
                b Телефон:&nbsp;
                a.link(href="tel:+79269409939") +7 (926) 940-99-39
              p.text
                b Email:&nbsp;
                a.link(href="mailto:smb_67@mail.ru") smb_67@mail.ru
