.products
  &__layout
    display: flex
  &__box
    padding: 15px
    &--left
      width: 30%
    &--right
      width: 70%
  &__nav
    display: flex
    flex-direction: column
    align-items: flex-start
    &-item
      position: relative
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      padding: 30px 15px
      margin: 5px 0
      border: none
      border-radius: 5px
      box-shadow: 0 0 10px 1px rgba($c_black, 0.01)
      overflow: hidden
      cursor: pointer
      &:first-child
        margin-top: 0
      .layout
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: 1
        background: rgba($c_black, 0.6)
      .img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center
        z-index: 0
      .text
        position: relative
        font-size: 30px
        font-weight: bold
        color: $c_white
        z-index: 2
      &.isSelected
        pointer-events: none
        .layout
          background: rgba($c_accent, 0.6)

  &__content
    display: flex
    flex-direction: column
    align-items: center
    &-body
      width: 100%
      margin-bottom: 15px
      .error
        text-align: center
        font-size: 20px
    &-actions
      margin: 15px 0

  &__table
    width: 100%
    td
      border: 1px solid rgba($c_accent, 0.4)
      text-align: center
      padding: 10px 15px
      background: $c_white
      &.top
        background: $c_grey
      // &.subtop
      //   background: rgba($c_accent-2, 0.3)
    thead
      td
        font-weight: bold

  &__card-group
    display: flex
    flex-wrap: wrap
    background: $c_white
    margin-bottom: 15px
    border-radius: 5px
    box-shadow: 0 0 10px 3px rgba($c_grey, 0.6)
    overflow: hidden
    &:last-child
      margin-bottom: 0

  &__card-group-title
    background: rgba($c_accent-2, 0.3)
    width: 100%
    text-align: center
    padding: 5px 10px
    font-size: 1.25rem
    font-weight: bold
  &__card
    width: 50%
    display: flex
    flex-direction: column
    padding: 15px
    border-bottom: 1px solid $c_grey
    &:nth-child(even)
      border-right: 1px solid $c_grey
      border-left: 1px solid $c_grey
    &:nth-child(odd)
      border-right: 1px solid $c_grey
    &--fluid
      width: 100%

    .title
      font-size: 1.125rem
      margin-bottom: 10px
      font-weight: bold
    .tags
      display: flex
      flex-wrap: wrap
    .tag
      flex-shrink: 0
      margin: 0 10px 10px 0
      padding: 5px 10px
      background: rgba($c_grey-light, 0.8)
      border: 1px solid rgba($c_grey-light, 0.8)
      border-radius: 3px
      font-size: 0.875rem

  &__pricelist
    display: flex
    flex-wrap: wrap
    padding: 0 0 10px
    border-bottom: 1px solid rgba($c_text, 0.1)
    &-item
      padding: 0 15px 0 0
      margin-bottom: 5px
      display: flex
      align-items: center
      .icon
        font-size: 24px
        color: $c_accent
        margin-right: 10px


