header.header
  .header__inner.header__inner--top
    .container
      .header__wrap.header__wrap--top
        .header__contacts
          a.link.header__phone(href="tel:+79269409939") +7 (926) 940-99-39
          a.link.header__phone(href="tel:+79269409939") +7 (926) 940-99-39
          a.link.header__mail(href="mailto:smb_67@mail.ru") smb_67@mail.ru
          span.header__address 214510, Смоленска область, Смоленский р-он, д. Богородицкое
        .header__social.social
          a.social__item.social__item--whatsup(href="")
            <i class="fab fa-whatsapp"></i>

  .header__inner.header__inner--bottom
    .container
      .header__wrap.header__wrap--bottom
        a.header__logo(href="#")
          .logo
        nav.navbar.header__navbar
          a.link.navbar__el(href="#") продукция
          a.link.navbar__el(href="#") спецпредложения
          a.link.navbar__el(href="#") о компании
          a.link.navbar__el(href="#") реквизиты
          a.link.navbar__el(href="#") партнеры
          a.link.navbar__el(href="#") контакты
        .header__btn-group
          button.btn.btn--accent(type="button") сделать заявку
          button.btn.btn--accent-2(type="button") заказать звонок


